body {
  margin: 0;
  text-align: center;
  background-color: #6ef3d6;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Pacifico', cursive;
  margin-top: 50px;
}

h2 {
  font-size: 2.5rem;
  font-family: 'Noto Sans KR', sans-serif;
}

.top-container {
  background-color: #ebfffa;
  position: relative;
  padding-top: 100px;
}

.mid-container {

}

.bottom-container {

}

.top-cloud {
  position: absolute;
  top: 100px;
  right: 20%;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  padding-top: 15px;
  width: 180px;
}

.skills-img {
  width: 200px;
}
